@import "tailwindcss";
@import url(../../public/fonts/css/fontiran.css);
@import url(../../public/fonts/css/Gofteh.css);
@theme {
  --color-primaryColor:#1565C0;
  --color-secondaryColor:#F2F9FF;
  --color-tertiaryColor:#E3F2FD;
  --color-textColor:#323232;
  --color-strokeColor:#DDD;
  --color-boxGrey:#D9D9D9;
  --radius-sm:10px;
  --radius-md:20px;
  --radius-lg:30px;
}
body {
  font-family: dana;
  font-weight: normal;
  text-align: justify;
  margin-top: 0;
}
.container {
    width: 100%;
}
@media (min-width: 440px) {
    .container {
        max-width: 440px;
    }
}
@media (min-width: 640px) {
    .container {
        max-width: 640px;
    }
}
@media (min-width: 700px) {
    .container {
        max-width: 700px;
    }
}
@media (min-width: 1024px) {
    .container {
        max-width: 1024px;
    }
}
@media (min-width: 1280px) {
    .container {
        max-width: 1280px;
    }
}
@media (min-width: 1536px) {
    .container {
        max-width: 1536px;
    }
}
.landing-poster-slider .swiper {
  width: 100%;
  position: relative;
}
.landing-poster-slider .swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 18px;
  font-size: 22px;
  font-weight: bold;
  color: #fff;
}
.landing-poster-slider .mySwiper .swiper-slide-active {
  opacity: 1 !important;
  visibility: visible !important;
  pointer-events: auto !important;
}
.landing-poster-slider .mySwiper .swiper-wrapper:has(.swiper-slide-active) .swiper-slide {
  opacity: 1;
  visibility: visible;
}
.landing-poster-slider .mySwiper .swiper-wrapper:has(.swiper-slide-active)
  .swiper-slide:not(.swiper-slide-active) {
  opacity: 0.5;
}
.landing-poster-slider .mySwiper .swiper-wrapper:has(.swiper-slide-active)
  .swiper-slide.swiper-slide-active ~ .swiper-slide {
  opacity: 1;
  visibility: visible;
}
.landing-poster-slider .mySwiper .swiper-wrapper:has(.swiper-slide-active)
  .swiper-slide:not(.swiper-slide-active):not(.swiper-slide-active ~ .swiper-slide) {
  opacity: 0;
  visibility: hidden;
}
.landing-poster-slider .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.swiper-button-next svg{
  transform: rotate(180deg);
}
.landing-poster-slider .swiper-button-next ,.landing-poster-slider .swiper-button-prev {
color: white !important;
position: absolute;
border: 0.1px solid rgba(255, 255, 255, 0.842);
border-radius: 100%;
padding: 3px;
cursor: pointer;
}
.landing-poster-slider .swiper-button-next {
  right: 45px;
  bottom: 30px;
  z-index: 10;
}
.landing-poster-slider .swiper-button-prev{
  right: 20px;
  bottom: 30.5px;
  z-index: 10;
}
.landing-poster-slider .swiper-button-prev svg , .landing-poster-slider .swiper-button-next svg {
  width: 10px;
  height: 10px;
}
.swiper-pagination-bullet {
  background-color: white !important;
  opacity: 100% !important;
}
.swiper-pagination-bullet-active {
  background-color:#1846DA !important;
}
.swiper-pagination-bullets {
  background-color: #6daad591;
  width: fit-content !important;
  border-radius: 40px;
  padding: 0 10px;
  margin-left: 25px;
  margin-bottom: 20px !important;
}
.special-slider{
  margin: 0 auto;
}

.special-slider .swiper  {
  margin: 0 auto;
}

.special-slider .swiper-button-next ,.special-slider .swiper-button-prev {
  color: #1565C0 !important;
  position: absolute;
  background-color: white;
  border-radius: 100%;
  padding: 3px;
  cursor: pointer;
  bottom: 0;
  width: 34px !important;
  height: 34px !important;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.special-slider .swiper-button-next {
  left: 15px;
  bottom: 50%;
  z-index: 50;
}
.special-slider .swiper-button-prev {
  right: 15px;
  bottom: 50%;
  z-index: 50;

}
.special-slider .swiper {
  position: unset !important;
  height: 400px;
}

.course-category .swiper-button-next , .course-category .swiper-button-prev  {
  top: 1400px !important;
  position: absolute;
}
.course-category .swiper-button-next {
  left: 38px !important;
}
.course-category .swiper-button-prev {
  right: 27px !important;
  
}
.examBanner {
  background: #BBDEFB;
  background: linear-gradient(90deg, rgba(187, 222, 251, 1) 0%, rgba(21, 101, 192, 1) 100%);
  height: 276px;
}

@media (min-width: 1536px) {
.course-category .swiper-button-next {
  left: 240px !important;
  top: 1500px !important;
}
.course-category .swiper-button-prev {
  right: 175px !important; 
    top: 1500px !important;
}
.special-slider .swiper-button-next {
  left: 70px;
  bottom:200px ;
}
.special-slider .swiper-button-prev {
  bottom:200px ;
}
}
.MuiRating-decimal , .MuiRating-decimal span {
  display: flex;
  flex-direction: row-reverse;
}
.MuiRating-root {
  display: flex;
  flex-direction: row-reverse;
}
.resumeBanner {
  background: #BBDEFB;
  background: linear-gradient(90deg, rgba(187, 222, 251, 1) 0%, rgba(21, 101, 192, 1) 100%);
  height: 200px;
}

  @supports (-webkit-appearance: none) or (-moz-appearance: none) {
    .checkbox-wrapper-13 input[type=checkbox] {
      --active: #275EFE;
      --active-inner: #fff;
      --focus: 2px rgba(39, 94, 254, .3);
      --border: #BBC1E1;
      --border-hover: #275EFE;
      --background: #fff;
      --disabled: #F6F8FF;
      --disabled-inner: #E1E6F9;
      -webkit-appearance: none;
      -moz-appearance: none;
      height: 21px;
      outline: none;
      display: inline-block;
      vertical-align: top;
      position: relative;
      margin: 0;
      cursor: pointer;
      border: 1px solid var(--bc, var(--border));
      background: var(--b, var(--background));
      transition: background 0.3s, border-color 0.3s, box-shadow 0.2s;
    }
    .checkbox-wrapper-13 input[type=checkbox]:after {
      content: "";
      display: block;
      left: 0;
      top: 0;
      position: absolute;
      transition: transform var(--d-t, 0.3s) var(--d-t-e, ease), opacity var(--d-o, 0.2s);
    }
    .checkbox-wrapper-13 input[type=checkbox]:checked {
      --b: var(--active);
      --bc: var(--active);
      --d-o: .3s;
      --d-t: .6s;
      --d-t-e: cubic-bezier(.2, .85, .32, 1.2);
    }
    .checkbox-wrapper-13 input[type=checkbox]:disabled {
      --b: var(--disabled);
      cursor: not-allowed;
      opacity: 0.9;
    }
    .checkbox-wrapper-13 input[type=checkbox]:disabled:checked {
      --b: var(--disabled-inner);
      --bc: var(--border);
    }
    .checkbox-wrapper-13 input[type=checkbox]:disabled + label {
      cursor: not-allowed;
    }
    .checkbox-wrapper-13 input[type=checkbox]:hover:not(:checked):not(:disabled) {
      --bc: var(--border-hover);
    }
    .checkbox-wrapper-13 input[type=checkbox]:focus {
      box-shadow: 0 0 0 var(--focus);
    }
    .checkbox-wrapper-13 input[type=checkbox]:not(.switch) {
      width: 21px;
    }
    .checkbox-wrapper-13 input[type=checkbox]:not(.switch):after {
      opacity: var(--o, 0);
    }
    .checkbox-wrapper-13 input[type=checkbox]:not(.switch):checked {
      --o: 1;
    }
    .checkbox-wrapper-13 input[type=checkbox] + label {
      display: inline-block;
      vertical-align: middle;
      cursor: pointer;
      margin-left: 4px;
    }

    .checkbox-wrapper-13 input[type=checkbox]:not(.switch) {
      border-radius: 7px;
    }
    .checkbox-wrapper-13 input[type=checkbox]:not(.switch):after {
      width: 5px;
      height: 9px;
      border: 2px solid var(--active-inner);
      border-top: 0;
      border-left: 0;
      left: 7px;
      top: 4px;
      transform: rotate(var(--r, 20deg));
    }
    .checkbox-wrapper-13 input[type=checkbox]:not(.switch):checked {
      --r: 43deg;
    }
  }

  .checkbox-wrapper-13 * {
    box-sizing: inherit;
  }
  .checkbox-wrapper-13 *:before,
  .checkbox-wrapper-13 *:after {
    box-sizing: inherit;
  }
.checkboxContaier::-webkit-scrollbar {
  width: 4px; /* ضخامت نوار عمودی */
}

.checkboxContaier::-webkit-scrollbar-track {
  border-radius: 10px;
}

.checkboxContaier::-webkit-scrollbar-thumb {
  background-color: #BDCEDE; /* رنگ نوار اصلی */
  border-radius: 10px;
  border: 2px solid #BDCEDE; /* فاصله بین نوار و مسیر */
}

.checkboxContaier::-webkit-scrollbar-thumb:hover {
  background-color: #BDCEDE; /* رنگ در حالت hover */
  cursor: pointer;
}
.MuiPaper-root {
  border-radius: 12px !important;
  box-shadow: none !important;
  border: 1px solid #ddd;
}