@import "tailwindcss";
@import url(../../public/fonts/css/fontiran.css);
@import url(../../public/fonts/css/Gofteh.css);

@theme {
  --color-primaryColor:#1565C0;
  --color-secondaryColor:#E3F2FD;
  --color-tertiaryColor:#BBDEFB;
  --color-textColor:#323232;
  --color-strokeColor:#DDD;
  --radius-sm:10px;
  --radius-md:20px;
  --radius-lg:30px;
}
body {
  font-family: dana;
  font-weight: normal;
  text-align: justify;
}
.container {
  width: 1240px;
  margin: 0 auto;
}